  <div class="row text-center">
    <div class="col-md-12">
      <h4>Rooms</h4>
      <span>List of examination room.</span>
    </div>
  </div>
  <div class="row text-center pt-5">
    <div class="col-sm-6 pt-3 col-md-6 col-xs-6" 
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)">
      <div class="card" routerLink="{{tutorial.id}}">
        <div class="card-body">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="img-fluid" alt="">
          <h5 class="card-title">{{ tutorial.title }}</h5>
          <p class="card-text">{{tutorial.numberOfStuden}}</p>
        </div>
      </div>
    </div>
  </div>